name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

env:
  MAIN_PYTHON_VERSION : '3.13'
  LIBRARY_NAME: 'ansys-rocky-core'
  DOCUMENTATION_CNAME: 'rocky.docs.pyansys.com'
  DOC_DEPLOYMENT_IMAGE_TAG: v24.1.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  labeler:
    name: "Labels"
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      github.event.type != 'labeled'
    steps:
      - uses: actions/checkout@v6

      - name: "Update labels"
        uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Label pull-request"
        uses: actions/labeler@v6.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  docs-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'style:skip')
    steps:
      - name: PyAnsys documentation style checks
        uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  smoke-tests:
    name: Build and Smoke tests
    runs-on: ${{ matrix.os }}
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']
        should-release:
          - ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags') }}
        exclude:
          - should-release: false
            os: macos-latest
    steps:
      - name: Build wheelhouse and perform smoke test
        uses: ansys/actions/build-wheelhouse@v10
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}


  tests_setup_windows:
    name: Windows Tests Setup
    runs-on: [self-hosted, Windows, pyrocky]
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Create Python venv
        run: |
          python -m venv .venv

      - name: Install packages for tests (Windows)
        run: |
          .\.venv\Scripts\Activate.ps1
          python -m pip install --upgrade pip
          pip install .[tests]

  tests_run_windows:
    name: Windows Tests
    needs: tests_setup_windows
    runs-on: [self-hosted, Windows, pyrocky]
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ansys-version: [251, 252, 261]
    env:
      ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}
      # Windows TCP client authentication still doesn't support IPv6
      PYRO_PREFER_IP_VERSION: 4

    steps:
      - name: Run unit tests (Windows)
        env:
          ANSYS_VERSION: ${{ matrix.ansys-version }}
        run: |
          .\.venv\Scripts\Activate.ps1
          pytest tests

      - uses: codecov/codecov-action@v4
        name: 'Upload coverage to CodeCov'
        env:
          CODECOV_TOKEN:  ${{ secrets.CODECOV_TOKEN }}
        with:
          files: .cov/xml
          flags: ${{ matrix.ansys-version }}

  tests_setup_linux:
    name: Linux Tests Setup
    runs-on: [self-hosted, Linux, pyrocky]
    # Temporarily disable Linux setup and tests
    if: |
      false &&
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Create Python venv
        run: |
          python -m venv .venv

      - name: Install packages for tests (Linux)
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install .[tests]

  tests_run_linux:
    name: Linux v${{ matrix.ansys-version }} Tests
    needs: tests_setup_linux
    runs-on: [self-hosted, Linux, pyrocky]
    # Temporarily disable Linux setup and tests
    if: |
      false &&
      !contains(github.event.pull_request.labels.*.name, 'ci:skip') &&
      !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ansys-version: [251, 252, 261]
    env:
      ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}

    steps:
      - name: Run unit tests (Linux)
        env:
          ANSYS_VERSION: ${{ matrix.ansys-version }}
        run: |
          source .venv/bin/activate
          pytest tests

  docs_build:
    name: Documentation
    runs-on: [self-hosted, Windows, pyrocky]
    if: |
      contains(github.event.pull_request.labels.*.name, 'docs') ||
      github.ref == 'refs/heads/main' ||
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v'))
    env:
      ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}
      # Windows TCP client authentication still doesn't support IPv6
      PYRO_PREFER_IP_VERSION: 4

    steps:
      - name: Build Documentation
        uses: ansys/actions/doc-build@v10
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-uv: false
          # Disable default -W flag (treat warnings as errors)
          sphinxopts: '-j 1'

  package:
    name: Package library
    needs: [tests_run_windows, docs_build]
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci:skip')
    steps:
      - name: Build library source and wheel artifacts
        uses: ansys/actions/build-library@v10
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

# Uncomment when ready to release
  release:
    name: Release project
    if: |
      github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') &&
      !contains(github.event.pull_request.labels.*.name, 'ci:skip')
    needs: [package, smoke-tests]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: "Download the library artifacts from build-library step"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ env.LIBRARY_NAME }}-artifacts
          path: ${{ env.LIBRARY_NAME }}-artifacts

      - name: "Upload artifacts to PyPI using trusted publisher"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: "https://upload.pypi.org/legacy/"
          print-hash: true
          packages-dir: ${{ env.LIBRARY_NAME }}-artifacts
          skip-existing: false

      - name: Release to GitHub
        uses: ansys/actions/release-github@v10
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}

  upload_docs_dev:
    name: "Deploy development documentation"
    # Deploy development only when merging or pushing to the 'main' branch
    if: |
      github.ref == 'refs/heads/main' &&
      !contains(github.event.pull_request.labels.*.name, 'ci:skip')
    runs-on: ubuntu-latest
    needs: docs_build
    steps:
      - uses: ansys/actions/doc-deploy-dev@v10
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  upload_docs_release:
    name: "Deploy stable documentation"
    if: |
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/tags/v') &&
      !contains(github.ref, 'dev') &&
      !contains(github.event.pull_request.labels.*.name, 'ci:skip')
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Deploy the stable documentation
        uses: ansys/actions/doc-deploy-stable@v10
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
